body{
	background-color: #008248;
}
.nav-clock{
	margin-top: 20px;
}
#student_list{
	margin-top: 30px;
}
[class|="icon"]{
	cursor: pointer;
}
.icon-danger{
	color: #a94442 !important;
}
.icon-primary{
	color: #337ab7 !important;
}
